@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-IMFell {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-sc-regular {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-style: normal;
}
.font-bold-merienda {
  font-family: "Merienda", cursive;
  font-weight: 900;
  font-style: normal;
}
