@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-IMFell {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-sc-bold {
  font-family: "Merienda", cursive;
  font-weight: 800;
  font-style: normal;
}

.im-fell-english-sc-regular {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-style: normal;
}
.font-bold-merienda {
  font-family: "Merienda", cursive;
  font-weight: 900;
  font-style: normal;
}

@keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -999px;
  }
}

@keyframes slideDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -999px;
  }
}

.slide-up {
  position: relative;
  animation: slideUp 3s linear forwards;
}

.slide-donw {
  position: relative;
  animation: slideDown 3s linear forwards;
}

@keyframes showOFF {
  from {
    z-index: 10;
  }
  to {
    z-index: -999;
  }
}

.showOFF {
  position: relative;
  animation: showOFF 3s linear forwards;
  animation-delay: 3s;
}
